.Rhistory
local_notes.R
# osx noise
.DS_Store
profile
temp.R
other_notes.md
spline.R
docs/varDev.pdf

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
other/
